build/
.vscode/
/.vs
*.vcxproj
*.filters
*.cmake
CMakeCache.txt
/CMakeFiles
CMakeSettings.json
/hook.dir
/Debug
hook.vcxproj.user
/RatataR.dir
/Win32
ZERO_CHECK.vcxproj.user
RatataR.vcxproj.user
RatataR.sln
ALL_BUILD.vcxproj.user
